<div style="width: 300px; margin:200px 0px 0px 40vw; border-radius:10px; background-color:rgb(224, 212, 184)">
<form action="/admin/addToCategory" method="post" class="p-5">
  <!-- Email input -->
  <h5 class="text-center py-2">Add Category</h5>
  <div class="form-outline mb-4">
    <input type="text" id="form1Example1" class="form-control" name="categoryname"/>
    <label class="form-label" for="form1Example1">Enter category name</label>
    <!-- <input type="hidden" id="form1Example1" class="form-control" name="categorystatus" value="true"/> -->
  </div>

  <!-- Password input -->

  <!-- 2 column grid layout for inline styling -->
  

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block">Add</button>
  <div class="mt-2 text-center">
    <a href="/admin/dashboard">Go to</a>
  </div>
  
</form>
</div>