<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(236,79,162)">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    {{!-- <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button> --}}

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        {{!-- <img src="/img/neonatesLogo.png" height="80" alt="MDB Logo" loading="lazy" /> --}}
        <h3 style="font-size: 30px;
  background: -webkit-linear-gradient(#2735b3, #d88a16);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;">neonates</h3>
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ps-2">
          <a class="nav-link text-light" href="/landing">All</a>
        </li>
       
       
        <li class="nav-item">
          <a class="nav-link text-light" href="#">About Us</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-4" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <!-- Notifications -->
      <div class="">
        <a class="text-reset me-3 hidden-arrow" href="#">
          <i class="fas fa-bell"></i>
        </a>

      </div>
      <!-- Avatar -->
      <div>
        <a class="d-flex align-items-center hidden-arrow" href="#">
          <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25"
            alt="Black and White Portrait of a Man" loading="lazy" />
        </a>

      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->