<div class="container" style="width: 400px; margin:100px 0px 0px 40vw; background-color:rgb(212, 196, 142);border-radius:10px">
<form action="/sendMobOtp" method="post" class="p-4">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form1Example1" class="form-control" name="email"/>
    <label class="form-label" for="form1Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="number" id="form1Example2" class="form-control" name="mobNumber"/>
    <label class="form-label" for="form1Example2">Number</label>
  </div>
  <div class="form-outline mb-4">
    <input type="password" id="form1Example2" class="form-control" name="password"/>
    <label class="form-label" for="form1Example2">Enter New password</label>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
    </div>

    <div class="col">
      <!-- Simple link -->
      
    </div>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>
</div>